@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Personal:</span>
        <span><a href="mailto:cbruen1@yahoo.com">cbruen1 (at) yahoo (dot) com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Twitter</h3>
    </header>
    <p>
        <span><a href="http://twitter.com/CiaranBruen">http://twitter.com/CiaranBruen</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>LinkedIn</h3>
    </header>
    <p>
        <span><a href="http://www.linkedin.com/in/ciaranbruen">http://www.linkedin.com/in/CiaranBruen</a></span>
    </p>
</section>